<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.14">
  <compounddef id="classAsmToSourceMapper" kind="class" language="C++" prot="public">
    <compoundname>AsmToSourceMapper</compoundname>
    <includes refid="AsmToSourceMapper_8h" local="no">AsmToSourceMapper.h</includes>
      <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classAsmToSourceMapper_1a72a79c92ba07cfd264641e40b84cf5d0" prot="private" static="no" mutable="no">
        <type>std::multiset&lt; <ref refid="classAsmMappingInfo" kindref="compound">AsmMappingInfo</ref> &gt;</type>
        <definition>std::multiset&lt;AsmMappingInfo&gt; AsmToSourceMapper::asmMappingInfos</definition>
        <argsstring></argsstring>
        <name>asmMappingInfos</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
<para>holds mapping data order by fileId and line number. needs to be a multiset because every source file line could correspond to more than one dwarf line information </para>        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.h" line="194" column="1" bodyfile="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.h" bodystart="194" bodyend="-1"/>
        <referencedby refid="classAsmToSourceMapper_1a669c8d575443287f9ff810005921bb9b" compoundref="AsmToSourceMapper_8cpp" startline="48" endline="166">addFile</referencedby>
        <referencedby refid="classAsmToSourceMapper_1aaacf08b0e539f1d7df7295b212288482" compoundref="AsmToSourceMapper_8cpp" startline="195" endline="395">annotate</referencedby>
      </memberdef>
      <memberdef kind="variable" id="classAsmToSourceMapper_1aea4878a7b8efe4b4d0e169d5b671e414" prot="private" static="no" mutable="no">
        <type>SgBinaryComposite *</type>
        <definition>SgBinaryComposite* AsmToSourceMapper::file</definition>
        <argsstring></argsstring>
        <name>file</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.h" line="196" column="1" bodyfile="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.h" bodystart="196" bodyend="-1"/>
        <referencedby refid="classAsmToSourceMapper_1a669c8d575443287f9ff810005921bb9b" compoundref="AsmToSourceMapper_8cpp" startline="48" endline="166">addFile</referencedby>
        <referencedby refid="classAsmToSourceMapper_1ae0cd2fdc0b0bc476d725ca6cf940b081" compoundref="AsmToSourceMapper_8cpp" startline="168" endline="193">annotate</referencedby>
      </memberdef>
      </sectiondef>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="classAsmToSourceMapper_1a11b6f15fcfe42332ce6395d4561c4fdc" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type></type>
        <definition>AsmToSourceMapper::AsmToSourceMapper</definition>
        <argsstring>(SgBinaryComposite *file)</argsstring>
        <name>AsmToSourceMapper</name>
        <param>
          <type>SgBinaryComposite *</type>
          <declname>file</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
<para>Constructor, extracts the dwarf information from the binary and stores them in </para>        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.h" line="181" column="1" bodyfile="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.cpp" bodystart="42" bodyend="46"/>
        <references refid="classAsmToSourceMapper_1a669c8d575443287f9ff810005921bb9b" compoundref="AsmToSourceMapper_8cpp" startline="48" endline="166">addFile</references>
      </memberdef>
      <memberdef kind="function" id="classAsmToSourceMapper_1ae0cd2fdc0b0bc476d725ca6cf940b081" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>void</type>
        <definition>void AsmToSourceMapper::annotate</definition>
        <argsstring>(SgSourceFile *file)</argsstring>
        <name>annotate</name>
        <param>
          <type>SgSourceFile *</type>
          <declname>file</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
<para>This function annotates the Source and the binary AST with the mapping information </para>        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.h" line="186" column="1" bodyfile="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.cpp" bodystart="168" bodyend="193"/>
        <references refid="classAsmToSourceMapper_1aea4878a7b8efe4b4d0e169d5b671e414" compoundref="AsmToSourceMapper_8h" startline="196">file</references>
        <references refid="AdaStatement_8C_1a251415ca06792d60d2f2b16097139a68" compoundref="AdaStatement_8C" startline="3490">id</references>
        <referencedby refid="classAsmToSourceMapper_1aaacf08b0e539f1d7df7295b212288482" compoundref="AsmToSourceMapper_8cpp" startline="195" endline="395">annotate</referencedby>
        <referencedby refid="RoseFrontendTask_8cpp_1ab6ce63c16f47f4fa13fbe419d4c3074d" compoundref="RoseFrontendTask_8cpp" startline="25" endline="80">annotateFiles</referencedby>
      </memberdef>
      </sectiondef>
      <sectiondef kind="private-func">
      <memberdef kind="function" id="classAsmToSourceMapper_1a669c8d575443287f9ff810005921bb9b" prot="private" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>void</type>
        <definition>void AsmToSourceMapper::addFile</definition>
        <argsstring>()</argsstring>
        <name>addFile</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.h" line="198" column="1" bodyfile="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.cpp" bodystart="48" bodyend="166"/>
        <references refid="classAsmToSourceMapper_1a72a79c92ba07cfd264641e40b84cf5d0" compoundref="AsmToSourceMapper_8h" startline="194">asmMappingInfos</references>
        <references refid="classAsmToSourceMapper_1aea4878a7b8efe4b4d0e169d5b671e414" compoundref="AsmToSourceMapper_8h" startline="196">file</references>
        <references refid="namespaceNodeQuery_1a2ee0563a940105a5551b64f84791eaff" compoundref="nodeQuery_8h" startline="202" endline="205">NodeQuery::querySubTree</references>
        <referencedby refid="classAsmToSourceMapper_1a11b6f15fcfe42332ce6395d4561c4fdc" compoundref="AsmToSourceMapper_8cpp" startline="42" endline="46">AsmToSourceMapper</referencedby>
      </memberdef>
      <memberdef kind="function" id="classAsmToSourceMapper_1aaacf08b0e539f1d7df7295b212288482" prot="private" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>void</type>
        <definition>void AsmToSourceMapper::annotate</definition>
        <argsstring>(SgNode *node, const std::string &amp;srcId, const std::string &amp;binId)</argsstring>
        <name>annotate</name>
        <param>
          <type>SgNode *</type>
          <declname>node</declname>
        </param>
        <param>
          <type>const std::string &amp;</type>
          <declname>srcId</declname>
        </param>
        <param>
          <type>const std::string &amp;</type>
          <declname>binId</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.h" line="200" column="1" bodyfile="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.cpp" bodystart="195" bodyend="395"/>
        <references refid="classAsmToSourceMapper_1ae0cd2fdc0b0bc476d725ca6cf940b081" compoundref="AsmToSourceMapper_8cpp" startline="168" endline="193">annotate</references>
        <references refid="classAsmToSourceMapper_1a72a79c92ba07cfd264641e40b84cf5d0" compoundref="AsmToSourceMapper_8h" startline="194">asmMappingInfos</references>
        <references refid="xml2qnfa_8cpp_1ab28d5e8f45239f389a8d50d3024d9b3d" compoundref="xml2qnfa_8cpp" startline="144" endline="159">copy</references>
        <references refid="classAstBinaryNodeLink_1aab72d1e0454b5ea67256a7e0e5502f4c" compoundref="AsmToSourceMapper_8h" startline="159" endline="162">AstBinaryNodeLink::copy</references>
        <references refid="classAsmToSourceMapper_1aea4878a7b8efe4b4d0e169d5b671e414" compoundref="AsmToSourceMapper_8h" startline="196">file</references>
        <references refid="namespaceOutliner_1ad3aa1c92d04c95cc351a96181a26d7ea" compoundref="Insert_8cc" startline="1274" endline="1827">Outliner::insert</references>
        <references refid="namespaceRose_1_1AST_1_1IO_1a8ed41a5acf1a0770b0312507185b2f3f" compoundref="link_8C" startline="844" endline="853">Rose::AST::IO::link</references>
        <references refid="namespaceNodeQuery_1a2ee0563a940105a5551b64f84791eaff" compoundref="nodeQuery_8h" startline="202" endline="205">NodeQuery::querySubTree</references>
        <references refid="namespaceSageInterface_1_1Ada_1af8cdc59e44204f5aabb49532d060ada8" compoundref="sageInterfaceAda_8C" startline="786" endline="794">SageInterface::Ada::range</references>
      </memberdef>
      <memberdef kind="function" id="classAsmToSourceMapper_1ab919d916860bf3cb1f35dc4bc216b00c" prot="private" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename NodeLink</type>
          </param>
        </templateparamlist>
        <type>void</type>
        <definition>void AsmToSourceMapper::addAttribute</definition>
        <argsstring>(SgNode *node, const std::string &amp;id, SgNode *start, SgNode *end)</argsstring>
        <name>addAttribute</name>
        <param>
          <type>SgNode *</type>
          <declname>node</declname>
        </param>
        <param>
          <type>const std::string &amp;</type>
          <declname>id</declname>
        </param>
        <param>
          <type>SgNode *</type>
          <declname>start</declname>
        </param>
        <param>
          <type>SgNode *</type>
          <declname>end</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.h" line="203" column="1" bodyfile="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.cpp" bodystart="398" bodyend="417"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
<para>Creates Annotation with mapping: Source AST &lt;-&gt; Binary AST using dwarf information. </para>    </briefdescription>
    <detaileddescription>
<para>Usage: <linebreak/>
 Create a new <ref refid="classAsmToSourceMapper" kindref="compound">AsmToSourceMapper</ref> object for every binary file, and add the sourcefile via <ref refid="classAsmToSourceMapper_1a669c8d575443287f9ff810005921bb9b" kindref="member">addFile()</ref>. This class uses dwarf information which is included in the binary if it was compiled with the <computeroutput>-g</computeroutput> option. The annotation is stored in the AST as annotation objects i.e. <ref refid="classAstBinaryNodeLink" kindref="compound">AstBinaryNodeLink</ref> / <ref refid="classAstSourceNodeLink" kindref="compound">AstSourceNodeLink</ref> </para>    </detaileddescription>
    <location file="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.h" line="176" column="1" bodyfile="/home/liao6/workspace/rose-github/src/roseExtensions/qtWidgets/util/AsmToSourceMapper.h" bodystart="175" bodyend="204"/>
    <listofallmembers>
      <member refid="classAsmToSourceMapper_1ab919d916860bf3cb1f35dc4bc216b00c" prot="private" virt="non-virtual"><scope>AsmToSourceMapper</scope><name>addAttribute</name></member>
      <member refid="classAsmToSourceMapper_1a669c8d575443287f9ff810005921bb9b" prot="private" virt="non-virtual"><scope>AsmToSourceMapper</scope><name>addFile</name></member>
      <member refid="classAsmToSourceMapper_1ae0cd2fdc0b0bc476d725ca6cf940b081" prot="public" virt="non-virtual"><scope>AsmToSourceMapper</scope><name>annotate</name></member>
      <member refid="classAsmToSourceMapper_1aaacf08b0e539f1d7df7295b212288482" prot="private" virt="non-virtual"><scope>AsmToSourceMapper</scope><name>annotate</name></member>
      <member refid="classAsmToSourceMapper_1a72a79c92ba07cfd264641e40b84cf5d0" prot="private" virt="non-virtual"><scope>AsmToSourceMapper</scope><name>asmMappingInfos</name></member>
      <member refid="classAsmToSourceMapper_1a11b6f15fcfe42332ce6395d4561c4fdc" prot="public" virt="non-virtual"><scope>AsmToSourceMapper</scope><name>AsmToSourceMapper</name></member>
      <member refid="classAsmToSourceMapper_1aea4878a7b8efe4b4d0e169d5b671e414" prot="private" virt="non-virtual"><scope>AsmToSourceMapper</scope><name>file</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
